<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/sukiennice.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Sukiennice</h1>
            <p>It was once a major centre of international trade. Traveling merchants met there to discuss business and to barter. During its golden age in the 15th century, the hall was the source of a variety of exotic imports from the east - spices, silk, leather and wax - while Krakow itself exported textiles, lead, and salt from the Wieliczka Salt Mine.</p>
            <textarea></textarea>
            <p class="comment" id="1"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/spodek.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Spodek</h1>
            <p>The idea of building a large venue originated in 1955, while Katowice was temporarily renamed Stalinogrod. A contest was held to select the best design. Initially, it was to be constructed on the outskirts of town, but the Voivodeship National Council decided it should be built near the city center. A mining waste dump site classified "2A" was chosen for construction.</p>
            <textarea></textarea>
            <p class="comment" id="2"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/ogrodzieniec.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Ogrodzieniec</h1>
            <p>According to some investigators of paranormal phenomena, the Ogrodzieniec Castle is a place haunted by mighty dark powers. There have been locally famous reports of the "Black Dog of Ogrodzieniec" being seen prowling the ruins in the night-time. Witnesses have claimed that the spectre is a black dog much larger than an ordinary dog, and is supposed to have burning eyes and pull away a heavy chain. The dog is believed to be the soul of the Castellan of Cracow, Stanislaw Warszycki. Interestingly, his soul also haunts the ruins of the Dankow Castle, where it appears as a headless horseman.</p>
            <textarea></textarea>
            <p class="comment" id="3"></p>
        </div>
    </div>
</div>