<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/cebule.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Onion</h1>
            <p>It is estimated that around the world, over 9,000,000 acres (3,642,000 ha) of onions are grown annually. About 170 countries cultivate onions for domestic use and about eight percent of the global production is traded internationally.</p>
            <textarea></textarea>
            <p class="comment" id="4"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/tort.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Torte</h1>
            <p>The most well-known of the typical tortes include the Austrian Sachertorte and Linzertorte, the German Schwarzwaelder Kirschtorte, and the many-layered Hungarian Dobos torte. But other well-known European confections are also tortes, such as the French Gateau St. Honore.</p>
            <textarea></textarea>
            <p class="comment" id="5"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/grzyby.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Polypore</h1>
            <p>Almost all polypores are dependent on trees for their survival. Deforestation and intensive forest management cause declines in polypore abundance and diversity. For many species the changes can be too much, and they start a slow slide towards extinction. Since most polypore species are relatively widespread, this process is typically slow. Regional extinctions can happen relatively quickly and have been documented.</p>
            <textarea></textarea>
            <p class="comment" id="6"></p>
        </div>
    </div>
</div>