<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/steam1.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Steampunk</h1>
            <p>Steampunk is a subgenre of science fiction and sometimes fantasy that incorporates technology and aesthetic designs inspired by 19th-century industrial steam-powered machinery. Although its literary origins are sometimes associated with the cyberpunk genre, steampunk works are often set in an alternative history of the 19th century's British Victorian era or American "Wild West", in a post-apocalyptic future during which steam power has maintained mainstream usage, or in a fantasy world that similarly employs steam power. </p>
            <textarea></textarea>
            <p class="comment" id="7"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/steam2.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Art and design</h1>
            <p>Aspects of steampunk design emphasise a balance between the form and function. So too is it like the Arts and Crafts Movement. But John Ruskin, William Morris, and the other reformers in the late nineteenth century rejected machines and industrial production. On the other hand, steampunk enthusiasts present a “non-luddite critique of technology.”</p>
            <textarea></textarea>
            <p class="comment" id="8"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/steam3.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Culture and community</h1>
            <p>Because of the popularity of steampunk, there is a growing movement of adults that want to establish steampunk as a culture and lifestyle. Some fans of the genre adopt a steampunk aesthetic through fashion, home decor, music, and film. This may be described as neo-Victorianism, which is the amalgamation of Victorian aesthetic principles with modern sensibilities and technologies.</p>
            <textarea></textarea>
            <p class="comment" id="9"></p>
        </div>
    </div>
</div>