body {
    background-color: #323232;
    margin: 0;
    overflow: hidden;
}

.menu {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.h-menu {
    margin: 0;
    height: 100%;
    display: inline-block;
    position: relative;
}

.h-menu li {
    position: relative;
    font-family: Arial, sans-serif;
    display: inline;
    height: 100%;
    float: left;
    transition: background-color;
    transition-duration: 0.5s;
}

.h-menu li div {
    padding-top: 0.1em;
    margin: 0.5em;
}

.v-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6.5vh;
    left: 0;
    background-color: black;
    width: 10em;
}

.v-menu li {
    display: block;
    font-family: Arial, sans-serif;
    border-width: 1px;
    border-color: #323232;
    border-top-style: solid;
    float: none;
    padding: 0.5em;
    height: 1em;
}

.nav {
    background-color: black;
    color: #aeaeae;
    height: 6.5vh;
    width: 100vw;
    margin-right: 15px;
    position: fixed;
    z-index: 1;
}

.nav li a {
    text-decoration: none;
    color: inherit;
}

.active {
    background-color: #1c86c7;
    color: white;
}

/*.page {
    max-width: 100vw;
}*/

.cover {
    padding-top: 6.5vh;
    padding-left: 2em;
    display: flex;
    align-items: center;
    width: 100%;
    height: 13.5vh;
}

.cover img {
    width: 10vh;
    height: 10vh;
}

.tips {
    font-family: Arial, sans-serif;
    padding: 0.5em;
    color: #c2c2c2;
    font-size: 1.2em;
    line-height: 0em;
}

.content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-width: 1px 0;
    border-style: dashed;
    border-color: #000000;
    background-color: #505050;
}

.footer {
    padding-left: 3em;
    font-size: 0.7em;
    height: 3vh;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #7d7d7d;
}

.parallax {
    display: none;
    perspective: 1px;
    height: 77vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
}

.parallax-group {
    position: relative;
    height: 80vw;
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin-x: 100%;
}

.parallax-base {
    transform: translateZ(0);
}

.parallax-back {
    transform: translateZ(-1px) translateX(40vw) rotateZ(3deg);
}

.parallax img {
    width: 100vw;
    -webkit-filter: blur(3px) grayscale(100%);
    filter: blur(3px) grayscale(100%);
    -webkit-transition: -webkit-filter 2s, filter 2s;
    -moz-transition: -webkit-filter 2s, filter 2s;
    -ms-transition: -webkit-filter 2s, filter 2s;
    -o-transition: -webkit-filter 2s, filter 2s;
    transition: -webkit-filter 2s, filter 2s;
    border: 2vw solid white;
}

.description {
    background-color: #1c86c7;
    opacity: 0.7;
    margin: 4em;
    padding: 0.2em 2em;
    border: 1vw solid white;
    width: 40vw;
    transform: rotateZ(-2deg);
    font-family: Arial, sans-serif;
}

.description h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.description p {
    font-size: 1.3em;
    margin-left: 0.2em;
}

.description textarea {
    border: none;
    outline: none;
    display: none;
    font-size: 1.3em;
    margin-left: 0.2em;
    resize: vertical;
    width: 100%;
}

.description .comment {
    border-left: 1px solid #0b335c;
    color: #121212;
    padding-left: 0.5em;
    font-style: italic;
}

.about {
    font-size: 3em;
    color: #1c86c7;
    padding-top: 6.5vh;
    height: 90.5vh;
    text-align: center;
    line-height: 0.2em;
    background-color: #323232;
}

.wait {
    position: fixed;
    font-size: 4em;
    color: #1c86c7;
    top: 50vh;
    width: 100%;
    text-align: center;
    background-color: #323232;
    opacity: 0.7;
}

::-webkit-scrollbar {
    width: 0.9vw;
}
::-webkit-scrollbar-track {
    background-color: #666666;
    border-left: 1px solid #000000;
}
::-webkit-scrollbar-thumb {
    background-color: #a6becc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #57a3c7;
}