<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/zakrzowek.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Limestone</h1>
            <p>Limestone is a sedimentary rock composed largely of the minerals calcite and aragonite, which are different crystal forms of calcium carbonate (CaCO3). Most limestone is composed of skeletal fragments of marine organisms such as coral, forams and molluscs.
                Limestone makes up about 10% of the total volume of all sedimentary rocks. The solubility of limestone in water and weak acid solutions leads to karst landscapes, in which water erodes the limestone over thousands to millions of years. Most cave systems are through limestone bedrock.</p>
            <textarea></textarea>
            <p class="comment" id="10"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/stok.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Snow</h1>
            <p>Snow is precipitation in the form of flakes of crystalline water ice that falls from clouds.
                Since snow is composed of small ice particles, it is a granular material. It has an open and therefore soft, white, and fluffy structure, unless subjected to external pressure. Snowflakes come in a variety of sizes and shapes. Types that fall in the form of a ball due to melting and refreezing, rather than a flake, are hail, ice pellets or snow grains.</p>
            <textarea></textarea>
            <p class="comment" id="11"></p>
        </div>
    </div>
</div>
<div class="parallax-group">
    <div class="parallax-layer parallax-back">
        <img src="photos/las.jpg" />
    </div>
    <div class="parallax-layer parallax-base">
        <div class="description">
            <h1>Wood</h1>
            <p>Wood is a porous and fibrous structural tissue found in the stems and roots of trees and other woody plants.
                It has been used for thousands of years for both fuel and as a construction material. It is an organic material, a natural composite of cellulose fibers (which are strong in tension) embedded in a matrix of lignin which resists compression. Wood is sometimes defined as only the secondary xylem in the stems of trees, or it is defined more broadly to include the same type of tissue elsewhere such as in the roots of trees or shrubs. In a living tree it performs a support function, enabling woody plants to grow large or to stand up by themselves. It also conveys water and nutrients between the leaves, other growing tissues, and the roots. Wood may also refer to other plant materials with comparable properties, and to material engineered from wood, or wood chips or fiber.</p>
            <textarea></textarea>
            <p class="comment" id="12"></p>
        </div>
    </div>
</div>